footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 10px;
  }

  footer p {
    display: inline;
    margin-right: 20px;
  }

  h5{
    text-align: center;
  }
  h2{
    text-align: center;
  }

  body {
    background: url(images/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("images/bg2.jpg");  
  }